.header-post {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon-verified {
  height: 18px;
  width: 18px;
}

.image-perfil {
  height: 48px;
  width: 48px;
  border-radius: 100%;
  object-fit: cover;
}

.react-logo {
  height: 26px;
}

.container-perfil {
  width: 100%;
}

.container-account {
  display: flex;
  width: 68%;
  align-items: center;
}

.info-account {
  display: flex;
  margin-left: 8px;
}
